<a href="https://colab.research.google.com/github/thewildofficial/pytorch-notebooks/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
import pandas as pd
import numpy as np

# Download the Titanic dataset
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
titanic_dataset = pd.read_csv(url).dropna()

titanic_dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

# New Section

In [ ]:
# Define device
device = "cuda" if torch.cuda.is_available() else "cpu"

In [ ]:
device

'cuda'

In [ ]:
features = ["Pclass","Sex","Age","Parch","SibSp","Fare","Embarked"]
X = titanic_dataset[features]
y = titanic_dataset["Survived"]
X['Sex'] = X['Sex'].replace({'male': 0, 'female': 1})
X["Embarked"] = X["Embarked"].replace({"C": 0, "S": 1,"Q": 2})

<ipython-input-247-56ad83dbe06e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].replace({'male': 0, 'female': 1})
<ipython-input-247-56ad83dbe06e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["Embarked"] = X["Embarked"].replace({"C": 0, "S": 1,"Q": 2})

In [ ]:
X

     Pclass  Sex   Age  Parch  SibSp     Fare  Embarked
1         1    1  38.0      0      1  71.2833         0
3         1    1  35.0      0      1  53.1000         1
6         1    0  54.0      0      0  51.8625         1
10        3    1   4.0      1      1  16.7000         1
11        1    1  58.0      0      0  26.5500         1
..      ...  ...   ...    ...    ...      ...       ...
871       1    1  47.0      1      1  52.5542         1
872       1    0  33.0      0      0   5.0000         1
879       1    1  56.0      1      0  83.1583         0
887       1    1  19.0      0      0  30.0000         1
889       1    0  26.0      0      0  30.0000         0

[183 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.7,random_state=69)
X_train

     Pclass  Sex   Age  Parch  SibSp      Fare  Embarked
269       1    1  35.0      0      0  135.6333         1
430       1    0  28.0      0      0   26.5500         1
698       1    0  49.0      1      1  110.8833         0
248       1    0  37.0      1      1   52.5542         1
262       1    0  52.0      1      1   79.6500         1
627       1    1  21.0      0      0   77.9583         1
820       1    1  52.0      1      1   93.5000         1
625       1    0  61.0      0      0   32.3208         1
751       3    0   6.0      1      0   12.4750         1
110       1    0  47.0      0      0   52.0000         1
556       1    1  48.0      0      1   39.6000         0
66        2    1  29.0      0      0   10.5000         1
558       1    1  39.0      1      1   79.6500         1
327       2    1  36.0      0      0   13.0000         1
701       1    0  35.0      0      0   26.2875         1
809       1    1  33.0      0      1   53.1000         1
462       1    0  47.0      0      0   38.5000         1
97        1    0  23.0      1      0   63.3583         0
583       1    0  36.0      0      0   40.1250         0
456       1    0  65.0      0      0   26.5500         1
92        1    0  46.0      0      1   61.1750         1
544       1    0  50.0      0      1  106.4250         0
742       1    1  21.0      2      2  262.3750         0
370       1    0  25.0      0      1   55.4417         0
339       1    0  45.0      0      0   35.5000         1
716       1    1  38.0      0      0  227.5250         0
699       3    0  42.0      0      0    7.6500         1
209       1    0  40.0      0      0   31.0000         0
724       1    0  27.0      0      1   53.1000         1
257       1    1  30.0      0      0   86.5000         1
806       1    0  39.0      0      0    0.0000         1
879       1    1  56.0      1      0   83.1583         0
587       1    0  60.0      1      1   79.2000         0
730       1    1  29.0      0      0  211.3375         1
230       1    1  35.0      0      1   83.4750         1
6         1    0  54.0      0      0   51.8625         1
139       1    0  24.0      0      0   79.2000         0
394       3    1  24.0      2      0   16.7000         1
10        3    1   4.0      1      1   16.7000         1
297       1    1   2.0      2      1  151.5500         1
369       1    1  24.0      0      0   69.3000         0
520       1    1  30.0      0      0   93.5000         1
782       1    0  29.0      0      0   30.0000         1
690       1    0  31.0      0      1   57.0000         1
449       1    0  52.0      0      0   30.5000         1
486       1    1  35.0      0      1   90.0000         1
224       1    0  38.0      0      1   90.0000         1
54        1    0  65.0      1      0   61.9792         0
136       1    1  19.0      2      0   26.2833         1
273       1    0  37.0      1      0   29.7000         0
715       3    0  19.0      0      0    7.6500         1
453       1    0  49.0      0      1   89.1042         0
523       1    1  44.0      1      0   57.9792         0
299       1    1  50.0      1      0  247.5208         0

In [ ]:
# converting to tensors
X_train = torch.tensor(X_train.values.astype(np.float32)).to(device)
X_test = torch.tensor(X_test.values.astype(np.float32)).to(device)
y_train = torch.tensor(y_train.values.astype(np.float32)).to(device)
y_test = torch.tensor(y_test.values.astype(np.float32)).to(device)

In [ ]:
X_train = X_train.to(torch.float32)
X_test = X_test.to(torch.float32)
y_train = y_train.to(torch.float32)
y_test =y_test.to(torch.float32)

In [ ]:
X_test

tensor([[  1.0000,   1.0000,  17.0000,   0.0000,   1.0000,  57.0000,   1.0000],
        [  1.0000,   1.0000,  49.0000,   0.0000,   1.0000,  76.7292,   0.0000],
        [  1.0000,   1.0000,  18.0000,   0.0000,   1.0000, 227.5250,   0.0000],
        [  1.0000,   1.0000,  23.0000,   2.0000,   3.0000, 263.0000,   1.0000],
        [  2.0000,   0.0000,   3.0000,   1.0000,   1.0000,  26.0000,   1.0000],
        [  1.0000,   1.0000,  22.0000,   0.0000,   1.0000,  66.6000,   1.0000],
        [  1.0000,   1.0000,  39.0000,   1.0000,   1.0000,  83.1583,   0.0000],
        [  1.0000,   1.0000,  33.0000,   0.0000,   1.0000,  90.0000,   2.0000],
        [  1.0000,   1.0000,  58.0000,   1.0000,   0.0000, 153.4625,   1.0000],
        [  1.0000,   1.0000,  18.0000,   2.0000,   2.0000, 262.3750,   0.0000],
        [  2.0000,   1.0000,  24.0000,   0.0000,   0.0000,  13.0000,   1.0000],
        [  1.0000,   1.0000,  53.0000,   0.0000,   2.0000,  51.4792,   1.0000],
        [  2.0000,   0.0000,   2.0000,   1.0000,   1.0000,  26.0000,   1.0000],
        [  1.0000,   1.0000,  24.0000,   0.0000,   0.0000,  49.5042,   0.0000],
        [  1.0000,   1.0000,  30.0000,   0.0000,   0.0000,  56.9292,   0.0000],
        [  3.0000,   1.0000,  27.0000,   1.0000,   0.0000,  12.4750,   1.0000],
        [  2.0000,   1.0000,   4.0000,   1.0000,   2.0000,  39.0000,   1.0000],
        [  1.0000,   0.0000,  37.0000,   0.0000,   1.0000,  53.1000,   1.0000],
        [  1.0000,   0.0000,  58.0000,   0.0000,   0.0000,  29.7000,   0.0000],
        [  1.0000,   0.0000,  80.0000,   0.0000,   0.0000,  30.0000,   1.0000],
        [  1.0000,   1.0000,  31.0000,   0.0000,   1.0000, 113.2750,   0.0000],
        [  1.0000,   1.0000,  44.0000,   0.0000,   0.0000,  27.7208,   0.0000],
        [  1.0000,   0.0000,  19.0000,   0.0000,   1.0000,  53.1000,   1.0000],
        [  1.0000,   1.0000,  24.0000,   0.0000,   0.0000,  83.1583,   0.0000],
        [  1.0000,   1.0000,  15.0000,   1.0000,   0.0000, 211.3375,   1.0000],
        [  1.0000,   0.0000,  27.0000,   0.0000,   0.0000,  76.7292,   0.0000],
        [  2.0000,   0.0000,  36.0000,   0.0000,   0.0000,  12.8750,   0.0000],
        [  2.0000,   1.0000,  57.0000,   0.0000,   0.0000,  10.5000,   1.0000],
        [  1.0000,   0.0000,  71.0000,   0.0000,   0.0000,  34.6542,   0.0000],
        [  1.0000,   1.0000,  36.0000,   0.0000,   0.0000, 135.6333,   0.0000],
        [  1.0000,   1.0000,  19.0000,   0.0000,   0.0000,  30.0000,   1.0000],
        [  1.0000,   0.0000,  50.0000,   0.0000,   1.0000,  55.9000,   1.0000],
        [  1.0000,   1.0000,  36.0000,   2.0000,   0.0000,  71.0000,   1.0000],
        [  1.0000,   1.0000,  39.0000,   0.0000,   1.0000,  55.9000,   1.0000],
        [  1.0000,   0.0000,  49.0000,   0.0000,   1.0000,  56.9292,   0.0000],
        [  1.0000,   0.0000,  45.0000,   0.0000,   1.0000,  83.4750,   1.0000],
        [  1.0000,   0.0000,  27.0000,   2.0000,   0.0000, 211.5000,   0.0000],
        [  1.0000,   0.0000,  32.0000,   0.0000,   0.0000,  30.5000,   0.0000],
        [  1.0000,   0.0000,  62.0000,   0.0000,   0.0000,  26.5500,   1.0000],
        [  1.0000,   0.0000,  55.0000,   0.0000,   0.0000,  30.5000,   1.0000],
        [  2.0000,   1.0000,  32.5000,   0.0000,   0.0000,  13.0000,   1.0000],
        [  1.0000,   1.0000,  60.0000,   0.0000,   1.0000,  75.2500,   0.0000],
        [  1.0000,   0.0000,  31.0000,   0.0000,   0.0000,  50.4958,   1.0000],
        [  1.0000,   0.0000,  17.0000,   2.0000,   0.0000, 110.8833,   0.0000],
        [  1.0000,   0.0000,  30.0000,   0.0000,   0.0000,  27.7500,   0.0000],
        [  1.0000,   0.0000,  26.0000,   0.0000,   0.0000,  30.0000,   0.0000],
        [  2.0000,   1.0000,  27.0000,   0.0000,   0.0000,  10.5000,   1.0000],
        [  1.0000,   1.0000,  58.0000,   0.0000,   0.0000,  26.5500,   1.0000],
        [  1.0000,   0.0000,  35.0000,   0.0000,   0.0000, 512.3292,   0.0000],
        [  1.0000,   1.0000,  40.0000,   0.0000,   0.0000, 153.4625,   1.0000],
        [  1.0000,   1.0000,  33.0000,   0.0000,   0.0000,  86.5000,   1.0000],
        [  1.0000,   0.0000,  36.0000,   1.0000,   0.0000, 512.3292,   0.0000],
        [  1.0000,   0.0000,  31.0000,   0.0000,   1.0000,  52.0000,   1.0000],
        [  1.0000,   0.0000,  18.0000,   0.0000,   1.0000, 108.9000,   0.0000],
        [  3.0000,   1.0000,   2.0000,   1.0000,   0.0000,  10.4625,   1.0000],
        [  1.0000,   0.0000,  36.0000,   0.0000,   0.0000,  26.3875,   1.0000],
        [  1.0000,   1.0000,  54.0000,   0.0000,   1.0000,  78.2667,   0.0000],
        [  1.0000,   1.0000,  25.0000,   2.0000,   1.0000, 151.5500,   1.0000],
        [  1.0000,   0.0000,  29.0000,   0.0000,   1.0000,  66.6000,   1.0000],
        [  1.0000,   0.0000,  47.0000,   0.0000,   0.0000,  34.0208,   1.0000],
        [  1.0000,   0.0000,  25.0000,   0.0000,   1.0000,  91.0792,   0.0000],
        [  1.0000,   0.0000,   4.0000,   2.0000,   0.0000,  81.8583,   1.0000],
        [  1.0000,   0.0000,  51.0000,   0.0000,   0.0000,  26.5500,   1.0000],
        [  1.0000,   1.0000,  17.0000,   0.0000,   1.0000, 108.9000,   0.0000],
        [  1.0000,   1.0000,  22.0000,   1.0000,   0.0000,  55.0000,   1.0000],
        [  1.0000,   1.0000,  14.0000,   2.0000,   1.0000, 120.0000,   1.0000],
        [  2.0000,   0.0000,   1.0000,   1.0000,   2.0000,  39.0000,   1.0000],
        [  1.0000,   1.0000,  49.0000,   0.0000,   0.0000,  25.9292,   1.0000],
        [  1.0000,   0.0000,  48.0000,   0.0000,   0.0000,  26.5500,   1.0000],
        [  1.0000,   0.0000,  21.0000,   1.0000,   0.0000,  77.2875,   1.0000],
        [  1.0000,   1.0000,  58.0000,   0.0000,   0.0000, 146.5208,   0.0000],
        [  1.0000,   0.0000,  64.0000,   4.0000,   1.0000, 263.0000,   1.0000],
        [  1.0000,   0.0000,  24.0000,   1.0000,   0.0000, 247.5208,   0.0000],
        [  1.0000,   0.0000,  42.0000,   0.0000,   1.0000,  52.5542,   1.0000],
        [  1.0000,   0.0000,  45.0000,   0.0000,   0.0000,  26.5500,   1.0000],
        [  1.0000,   0.0000,  36.0000,   0.0000,   0.0000,  26.2875,   1.0000],
        [  1.0000,   0.0000,  36.0000,   0.0000,   1.0000,  78.8500,   1.0000],
        [  1.0000,   1.0000,  24.0000,   0.0000,   0.0000,  69.3000,   0.0000],
        [  3.0000,   1.0000,  29.0000,   1.0000,   1.0000,  10.4625,   1.0000],
        [  1.0000,   1.0000,  23.0000,   0.0000,   1.0000, 113.2750,   0.0000],
        [  1.0000,   0.0000,  36.0000,   2.0000,   1.0000, 120.0000,   1.0000],
        [  1.0000,   1.0000,  63.0000,   0.0000,   1.0000,  77.9583,   1.0000],
        [  1.0000,   0.0000,  56.0000,   0.0000,   0.0000,  35.5000,   0.0000],
        [  1.0000,   1.0000,  38.0000,   0.0000,   1.0000,  71.2833,   0.0000],
        [  1.0000,   1.0000,  43.0000,   1.0000,   0.0000, 211.3375,   1.0000],
        [  2.0000,   1.0000,  23.0000,   0.0000,   0.0000,  13.7917,   0.0000],
        [  1.0000,   1.0000,  16.0000,   0.0000,   0.0000,  86.5000,   1.0000],
        [  2.0000,   1.0000,  34.0000,   0.0000,   0.0000,  10.5000,   1.0000],
        [  1.0000,   0.0000,  48.0000,   0.0000,   1.0000,  52.0000,   1.0000],
        [  1.0000,   1.0000,  40.0000,   1.0000,   1.0000, 134.5000,   0.0000],
        [  1.0000,   0.0000,  61.0000,   0.0000,   0.0000,  33.5000,   1.0000],
        [  1.0000,   1.0000,  36.0000,   2.0000,   1.0000, 120.0000,   1.0000],
        [  1.0000,   0.0000,  33.0000,   0.0000,   0.0000,   5.0000,   1.0000],
        [  1.0000,   0.0000,  38.0000,   1.0000,   0.0000, 153.4625,   1.0000],
        [  1.0000,   0.0000,  56.0000,   0.0000,   0.0000,  30.6958,   0.0000],
        [  1.0000,   0.0000,  47.0000,   0.0000,   0.0000,  25.5875,   1.0000],
        [  1.0000,   1.0000,  19.0000,   0.0000,   1.0000,  91.0792,   0.0000],
        [  1.0000,   0.0000,  46.0000,   0.0000,   0.0000,  79.2000,   0.0000],
        [  1.0000,   1.0000,  22.0000,   2.0000,   0.0000,  49.5000,   0.0000],
        [  1.0000,   1.0000,  31.0000,   2.0000,   0.0000, 164.8667,   1.0000],
        [  1.0000,   1.0000,  32.0000,   0.0000,   0.0000,  76.2917,   0.0000],
        [  1.0000,   1.0000,  16.0000,   1.0000,   0.0000,  57.9792,   0.0000],
        [  1.0000,   1.0000,  39.0000,   1.0000,   1.0000, 110.8833,   0.0000],
        [  2.0000,   0.0000,  36.5000,   2.0000,   0.0000,  26.0000,   1.0000],
        [  2.0000,   0.0000,  34.0000,   0.0000,   0.0000,  13.0000,   1.0000],
        [  1.0000,   0.0000,  45.5000,   0.0000,   0.0000,  28.5000,   1.0000],
        [  1.0000,   1.0000,  24.0000,   2.0000,   3.0000, 263.0000,   1.0000],
        [  1.0000,   0.0000,  28.0000,   0.0000,   0.0000,  35.5000,   1.0000],
        [  3.0000,   0.0000,  25.0000,   0.0000,   0.0000,   7.6500,   1.0000],
        [  1.0000,   1.0000,  50.0000,   0.0000,   0.0000,  28.7125,   0.0000],
        [  1.0000,   1.0000,  35.0000,   0.0000,   1.0000,  53.1000,   1.0000],
        [  1.0000,   0.0000,  70.0000,   1.0000,   1.0000,  71.0000,   1.0000],
        [  1.0000,   1.0000,  52.0000,   0.0000,   1.0000,  78.2667,   0.0000],
        [  1.0000,   0.0000,  54.0000,   1.0000,   0.0000,  77.2875,   1.0000],
        [  1.0000,   0.0000,  42.0000,   0.0000,   0.0000,  26.2875,   1.0000],
        [  1.0000,   0.0000,  58.0000,   2.0000,   0.0000, 113.2750,   0.0000],
        [  1.0000,   0.0000,   0.9200,   2.0000,   1.0000, 151.5500,   1.0000],
        [  3.0000,   0.0000,  32.0000,   0.0000,   0.0000,   8.0500,   1.0000],
        [  1.0000,   1.0000,  18.0000,   2.0000,   0.0000,  79.6500,   1.0000],
        [  1.0000,   0.0000,  48.0000,   0.0000,   1.0000,  76.7292,   0.0000],
        [  1.0000,   1.0000,  48.0000,   0.0000,   0.0000,  25.9292,   1.0000],
        [  1.0000,   1.0000,  41.0000,   0.0000,   0.0000, 134.5000,   0.0000],
        [  1.0000,   0.0000,  11.0000,   2.0000,   1.0000, 120.0000,   1.0000],
        [  1.0000,   0.0000,  19.0000,   2.0000,   3.0000, 263.0000,   1.0000],
        [  1.0000,   0.0000,  40.0000,   0.0000,   0.0000,   0.0000,   1.0000],
        [  1.0000,   1.0000,  51.0000,   0.0000,   1.0000,  77.9583,   1.0000],
        [  1.0000,   0.0000,  44.0000,   0.0000,   2.0000,  90.0000,   2.0000],
        [  1.0000,   1.0000,  16.0000,   1.0000,   0.0000,  39.4000,   1.0000],
        [  1.0000,   1.0000,  47.0000,   1.0000,   1.0000,  52.5542,   1.0000]],
       device='cuda:0')

In [ ]:
model = torch.nn.Sequential(
    torch.nn.Linear(7, 10),
    torch.nn.ReLU(),
    torch.nn.Linear(10,10),
    torch.nn.ReLU(),
    torch.nn.Linear(10, 1),  # Single output unit
    torch.nn.Sigmoid()  # Apply sigmoid activation
)

In [ ]:
# Access and check the data type of the weights
for name, param in model.named_parameters():
    if 'weight' in name:
        print(f"Weight name: {name}")
        print(f"Weight data type: {param.dtype}")

Weight name: 0.weight
Weight data type: torch.float32
Weight name: 2.weight
Weight data type: torch.float32
Weight name: 4.weight
Weight data type: torch.float32

In [ ]:
from torch import nn
model = model.to(device)
loss_fn = nn.BCELoss()
optimizer  = torch.optim.Adam(model.parameters(), lr=0.005)
# calculate accuracy
def accuracy_fn(y_true,y_pred):
  correct = torch.eq(y_true,y_pred).sum().item()
  acc = (correct/len(y_pred)) * 100  
  return acc

In [ ]:
epoches =  200
for epoch in range(epoches):
  preds = model.forward(X_train).flatten()
  loss = loss_fn(preds, y_train)

  optimizer.zero_grad()
  loss.backward()
  optimizer.step()
  print(f"Epoch [{epoch+1}/{epoches}], Loss: {loss.item():.4f}, Accuracy: {accuracy_fn(y_train,preds.round())}%")

Epoch [1/200], Loss: 0.7894, Accuracy: 64.81481481481481%
Epoch [2/200], Loss: 0.7399, Accuracy: 64.81481481481481%
Epoch [3/200], Loss: 0.6998, Accuracy: 64.81481481481481%
Epoch [4/200], Loss: 0.6729, Accuracy: 64.81481481481481%
Epoch [5/200], Loss: 0.6565, Accuracy: 64.81481481481481%
Epoch [6/200], Loss: 0.6490, Accuracy: 64.81481481481481%
Epoch [7/200], Loss: 0.6458, Accuracy: 64.81481481481481%
Epoch [8/200], Loss: 0.6416, Accuracy: 64.81481481481481%
Epoch [9/200], Loss: 0.6373, Accuracy: 64.81481481481481%
Epoch [10/200], Loss: 0.6309, Accuracy: 64.81481481481481%
Epoch [11/200], Loss: 0.6230, Accuracy: 64.81481481481481%
Epoch [12/200], Loss: 0.6192, Accuracy: 64.81481481481481%
Epoch [13/200], Loss: 0.6168, Accuracy: 64.81481481481481%
Epoch [14/200], Loss: 0.6135, Accuracy: 64.81481481481481%
Epoch [15/200], Loss: 0.6083, Accuracy: 64.81481481481481%
Epoch [16/200], Loss: 0.6025, Accuracy: 66.66666666666666%
Epoch [17/200], Loss: 0.5978, Accuracy: 72.22222222222221%
Epoch [18/200], Loss: 0.5946, Accuracy: 68.51851851851852%
Epoch [19/200], Loss: 0.5923, Accuracy: 66.66666666666666%
Epoch [20/200], Loss: 0.5905, Accuracy: 68.51851851851852%
Epoch [21/200], Loss: 0.5879, Accuracy: 68.51851851851852%
Epoch [22/200], Loss: 0.5849, Accuracy: 68.51851851851852%
Epoch [23/200], Loss: 0.5821, Accuracy: 68.51851851851852%
Epoch [24/200], Loss: 0.5802, Accuracy: 68.51851851851852%
Epoch [25/200], Loss: 0.5791, Accuracy: 68.51851851851852%
Epoch [26/200], Loss: 0.5783, Accuracy: 68.51851851851852%
Epoch [27/200], Loss: 0.5772, Accuracy: 70.37037037037037%
Epoch [28/200], Loss: 0.5757, Accuracy: 70.37037037037037%
Epoch [29/200], Loss: 0.5742, Accuracy: 70.37037037037037%
Epoch [30/200], Loss: 0.5727, Accuracy: 70.37037037037037%
Epoch [31/200], Loss: 0.5712, Accuracy: 72.22222222222221%
Epoch [32/200], Loss: 0.5695, Accuracy: 72.22222222222221%
Epoch [33/200], Loss: 0.5674, Accuracy: 72.22222222222221%
Epoch [34/200], Loss: 0.5652, Accuracy: 72.22222222222221%
Epoch [35/200], Loss: 0.5630, Accuracy: 70.37037037037037%
Epoch [36/200], Loss: 0.5612, Accuracy: 70.37037037037037%
Epoch [37/200], Loss: 0.5593, Accuracy: 70.37037037037037%
Epoch [38/200], Loss: 0.5574, Accuracy: 70.37037037037037%
Epoch [39/200], Loss: 0.5556, Accuracy: 70.37037037037037%
Epoch [40/200], Loss: 0.5540, Accuracy: 70.37037037037037%
Epoch [41/200], Loss: 0.5525, Accuracy: 70.37037037037037%
Epoch [42/200], Loss: 0.5507, Accuracy: 70.37037037037037%
Epoch [43/200], Loss: 0.5489, Accuracy: 70.37037037037037%
Epoch [44/200], Loss: 0.5470, Accuracy: 70.37037037037037%
Epoch [45/200], Loss: 0.5450, Accuracy: 70.37037037037037%
Epoch [46/200], Loss: 0.5429, Accuracy: 70.37037037037037%
Epoch [47/200], Loss: 0.5406, Accuracy: 70.37037037037037%
Epoch [48/200], Loss: 0.5384, Accuracy: 72.22222222222221%
Epoch [49/200], Loss: 0.5362, Accuracy: 72.22222222222221%
Epoch [50/200], Loss: 0.5343, Accuracy: 72.22222222222221%
Epoch [51/200], Loss: 0.5325, Accuracy: 72.22222222222221%
Epoch [52/200], Loss: 0.5307, Accuracy: 72.22222222222221%
Epoch [53/200], Loss: 0.5287, Accuracy: 72.22222222222221%
Epoch [54/200], Loss: 0.5266, Accuracy: 74.07407407407408%
Epoch [55/200], Loss: 0.5244, Accuracy: 74.07407407407408%
Epoch [56/200], Loss: 0.5231, Accuracy: 74.07407407407408%
Epoch [57/200], Loss: 0.5203, Accuracy: 74.07407407407408%
Epoch [58/200], Loss: 0.5184, Accuracy: 72.22222222222221%
Epoch [59/200], Loss: 0.5166, Accuracy: 72.22222222222221%
Epoch [60/200], Loss: 0.5147, Accuracy: 72.22222222222221%
Epoch [61/200], Loss: 0.5127, Accuracy: 74.07407407407408%
Epoch [62/200], Loss: 0.5106, Accuracy: 74.07407407407408%
Epoch [63/200], Loss: 0.5086, Accuracy: 74.07407407407408%
Epoch [64/200], Loss: 0.5065, Accuracy: 74.07407407407408%
Epoch [65/200], Loss: 0.5045, Accuracy: 74.07407407407408%
Epoch [66/200], Loss: 0.5026, Accuracy: 75.92592592592592%
Epoch [67/200], Loss: 0.5007, Accuracy: 74.07407407407408%
Epoch [68/200], Loss: 0.4988, Accuracy: 74.07407407407408%
Epoch [69/200], Loss: 0.4969, Accuracy: 75.92592592592592%
Epoch [70/200], Loss: 0.4949, Accuracy: 75.92592592592592%
Epoch [71/200], Loss: 0.4931, Accuracy: 77.77777777777779%
Epoch [72/200], Loss: 0.4914, Accuracy: 77.77777777777779%
Epoch [73/200], Loss: 0.4897, Accuracy: 77.77777777777779%
Epoch [74/200], Loss: 0.4880, Accuracy: 77.77777777777779%
Epoch [75/200], Loss: 0.4864, Accuracy: 77.77777777777779%
Epoch [76/200], Loss: 0.4850, Accuracy: 75.92592592592592%
Epoch [77/200], Loss: 0.4835, Accuracy: 75.92592592592592%
Epoch [78/200], Loss: 0.4820, Accuracy: 75.92592592592592%
Epoch [79/200], Loss: 0.4804, Accuracy: 75.92592592592592%
Epoch [80/200], Loss: 0.4788, Accuracy: 75.92592592592592%
Epoch [81/200], Loss: 0.4772, Accuracy: 75.92592592592592%
Epoch [82/200], Loss: 0.4760, Accuracy: 75.92592592592592%
Epoch [83/200], Loss: 0.4745, Accuracy: 75.92592592592592%
Epoch [84/200], Loss: 0.4731, Accuracy: 75.92592592592592%
Epoch [85/200], Loss: 0.4718, Accuracy: 75.92592592592592%
Epoch [86/200], Loss: 0.4705, Accuracy: 75.92592592592592%
Epoch [87/200], Loss: 0.4692, Accuracy: 75.92592592592592%
Epoch [88/200], Loss: 0.4678, Accuracy: 75.92592592592592%
Epoch [89/200], Loss: 0.4665, Accuracy: 77.77777777777779%
Epoch [90/200], Loss: 0.4651, Accuracy: 77.77777777777779%
Epoch [91/200], Loss: 0.4638, Accuracy: 77.77777777777779%
Epoch [92/200], Loss: 0.4618, Accuracy: 77.77777777777779%
Epoch [93/200], Loss: 0.4594, Accuracy: 77.77777777777779%
Epoch [94/200], Loss: 0.4568, Accuracy: 77.77777777777779%
Epoch [95/200], Loss: 0.4540, Accuracy: 77.77777777777779%
Epoch [96/200], Loss: 0.4517, Accuracy: 77.77777777777779%
Epoch [97/200], Loss: 0.4494, Accuracy: 77.77777777777779%
Epoch [98/200], Loss: 0.4473, Accuracy: 77.77777777777779%
Epoch [99/200], Loss: 0.4454, Accuracy: 77.77777777777779%
Epoch [100/200], Loss: 0.4435, Accuracy: 77.77777777777779%
Epoch [101/200], Loss: 0.4417, Accuracy: 77.77777777777779%
Epoch [102/200], Loss: 0.4404, Accuracy: 77.77777777777779%
Epoch [103/200], Loss: 0.4385, Accuracy: 77.77777777777779%
Epoch [104/200], Loss: 0.4368, Accuracy: 77.77777777777779%
Epoch [105/200], Loss: 0.4350, Accuracy: 77.77777777777779%
Epoch [106/200], Loss: 0.4333, Accuracy: 77.77777777777779%
Epoch [107/200], Loss: 0.4317, Accuracy: 77.77777777777779%
Epoch [108/200], Loss: 0.4299, Accuracy: 77.77777777777779%
Epoch [109/200], Loss: 0.4281, Accuracy: 79.62962962962963%
Epoch [110/200], Loss: 0.4263, Accuracy: 79.62962962962963%
Epoch [111/200], Loss: 0.4247, Accuracy: 79.62962962962963%
Epoch [112/200], Loss: 0.4230, Accuracy: 77.77777777777779%
Epoch [113/200], Loss: 0.4214, Accuracy: 79.62962962962963%
Epoch [114/200], Loss: 0.4197, Accuracy: 77.77777777777779%
Epoch [115/200], Loss: 0.4181, Accuracy: 77.77777777777779%
Epoch [116/200], Loss: 0.4163, Accuracy: 79.62962962962963%
Epoch [117/200], Loss: 0.4147, Accuracy: 77.77777777777779%
Epoch [118/200], Loss: 0.4132, Accuracy: 79.62962962962963%
Epoch [119/200], Loss: 0.4117, Accuracy: 77.77777777777779%
Epoch [120/200], Loss: 0.4104, Accuracy: 79.62962962962963%
Epoch [121/200], Loss: 0.4096, Accuracy: 74.07407407407408%
Epoch [122/200], Loss: 0.4093, Accuracy: 81.48148148148148%
Epoch [123/200], Loss: 0.4065, Accuracy: 75.92592592592592%
Epoch [124/200], Loss: 0.4036, Accuracy: 79.62962962962963%
Epoch [125/200], Loss: 0.4030, Accuracy: 81.48148148148148%
Epoch [126/200], Loss: 0.4030, Accuracy: 74.07407407407408%
Epoch [127/200], Loss: 0.4011, Accuracy: 81.48148148148148%
Epoch [128/200], Loss: 0.3984, Accuracy: 77.77777777777779%
Epoch [129/200], Loss: 0.3980, Accuracy: 75.92592592592592%
Epoch [130/200], Loss: 0.3977, Accuracy: 81.48148148148148%
Epoch [131/200], Loss: 0.3946, Accuracy: 77.77777777777779%
Epoch [132/200], Loss: 0.3937, Accuracy: 77.77777777777779%
Epoch [133/200], Loss: 0.3935, Accuracy: 81.48148148148148%
Epoch [134/200], Loss: 0.3909, Accuracy: 77.77777777777779%
Epoch [135/200], Loss: 0.3897, Accuracy: 77.77777777777779%
Epoch [136/200], Loss: 0.3894, Accuracy: 81.48148148148148%
Epoch [137/200], Loss: 0.3872, Accuracy: 77.77777777777779%
Epoch [138/200], Loss: 0.3857, Accuracy: 77.77777777777779%
Epoch [139/200], Loss: 0.3852, Accuracy: 81.48148148148148%
Epoch [140/200], Loss: 0.3835, Accuracy: 77.77777777777779%
Epoch [141/200], Loss: 0.3818, Accuracy: 77.77777777777779%
Epoch [142/200], Loss: 0.3810, Accuracy: 79.62962962962963%
Epoch [143/200], Loss: 0.3798, Accuracy: 75.92592592592592%
Epoch [144/200], Loss: 0.3781, Accuracy: 77.77777777777779%
Epoch [145/200], Loss: 0.3769, Accuracy: 77.77777777777779%
Epoch [146/200], Loss: 0.3759, Accuracy: 75.92592592592592%
Epoch [147/200], Loss: 0.3749, Accuracy: 79.62962962962963%
Epoch [148/200], Loss: 0.3731, Accuracy: 77.77777777777779%
Epoch [149/200], Loss: 0.3716, Accuracy: 77.77777777777779%
Epoch [150/200], Loss: 0.3704, Accuracy: 77.77777777777779%
Epoch [151/200], Loss: 0.3681, Accuracy: 75.92592592592592%
Epoch [152/200], Loss: 0.3578, Accuracy: 77.77777777777779%
Epoch [153/200], Loss: 0.3571, Accuracy: 77.77777777777779%
Epoch [154/200], Loss: 0.3980, Accuracy: 85.18518518518519%
Epoch [155/200], Loss: 0.4197, Accuracy: 81.48148148148148%
Epoch [156/200], Loss: 0.3885, Accuracy: 81.48148148148148%
Epoch [157/200], Loss: 0.3748, Accuracy: 81.48148148148148%
Epoch [158/200], Loss: 0.3773, Accuracy: 83.33333333333334%
Epoch [159/200], Loss: 0.3618, Accuracy: 79.62962962962963%
Epoch [160/200], Loss: 0.3880, Accuracy: 81.48148148148148%
Epoch [161/200], Loss: 0.3520, Accuracy: 77.77777777777779%
Epoch [162/200], Loss: 0.3680, Accuracy: 83.33333333333334%
Epoch [163/200], Loss: 0.3551, Accuracy: 81.48148148148148%
Epoch [164/200], Loss: 0.3490, Accuracy: 77.77777777777779%
Epoch [165/200], Loss: 0.3630, Accuracy: 81.48148148148148%
Epoch [166/200], Loss: 0.3420, Accuracy: 77.77777777777779%
Epoch [167/200], Loss: 0.3516, Accuracy: 81.48148148148148%
Epoch [168/200], Loss: 0.3424, Accuracy: 79.62962962962963%
Epoch [169/200], Loss: 0.3399, Accuracy: 79.62962962962963%
Epoch [170/200], Loss: 0.3447, Accuracy: 81.48148148148148%
Epoch [171/200], Loss: 0.3320, Accuracy: 77.77777777777779%
Epoch [172/200], Loss: 0.3402, Accuracy: 79.62962962962963%
Epoch [173/200], Loss: 0.3326, Accuracy: 79.62962962962963%
Epoch [174/200], Loss: 0.3328, Accuracy: 77.77777777777779%
Epoch [175/200], Loss: 0.3355, Accuracy: 79.62962962962963%
Epoch [176/200], Loss: 0.3286, Accuracy: 77.77777777777779%
Epoch [177/200], Loss: 0.3319, Accuracy: 79.62962962962963%
Epoch [178/200], Loss: 0.3292, Accuracy: 79.62962962962963%
Epoch [179/200], Loss: 0.3266, Accuracy: 77.77777777777779%
Epoch [180/200], Loss: 0.3286, Accuracy: 77.77777777777779%
Epoch [181/200], Loss: 0.3239, Accuracy: 79.62962962962963%
Epoch [182/200], Loss: 0.3242, Accuracy: 79.62962962962963%
Epoch [183/200], Loss: 0.3233, Accuracy: 79.62962962962963%
Epoch [184/200], Loss: 0.3206, Accuracy: 79.62962962962963%
Epoch [185/200], Loss: 0.3218, Accuracy: 77.77777777777779%
Epoch [186/200], Loss: 0.3191, Accuracy: 77.77777777777779%
Epoch [187/200], Loss: 0.3193, Accuracy: 79.62962962962963%
Epoch [188/200], Loss: 0.3183, Accuracy: 79.62962962962963%
Epoch [189/200], Loss: 0.3167, Accuracy: 77.77777777777779%
Epoch [190/200], Loss: 0.3170, Accuracy: 77.77777777777779%
Epoch [191/200], Loss: 0.3148, Accuracy: 79.62962962962963%
Epoch [192/200], Loss: 0.3150, Accuracy: 79.62962962962963%
Epoch [193/200], Loss: 0.3134, Accuracy: 79.62962962962963%
Epoch [194/200], Loss: 0.3125, Accuracy: 79.62962962962963%
Epoch [195/200], Loss: 0.3119, Accuracy: 79.62962962962963%
Epoch [196/200], Loss: 0.3110, Accuracy: 79.62962962962963%
Epoch [197/200], Loss: 0.3108, Accuracy: 79.62962962962963%
Epoch [198/200], Loss: 0.3097, Accuracy: 79.62962962962963%
Epoch [199/200], Loss: 0.3093, Accuracy: 79.62962962962963%
Epoch [200/200], Loss: 0.3081, Accuracy: 79.62962962962963%

In [ ]:
preds

tensor([0.9555, 0.5701, 0.6385, 0.8428, 0.6272, 0.9827, 0.9740, 0.1287, 0.9554,
        0.2223, 0.9494, 0.8305, 0.9906, 0.7006, 0.4655, 0.9881, 0.2770, 0.7520,
        0.3368, 0.0422, 0.5765, 0.4554, 0.9988, 0.8498, 0.3097, 0.9439, 0.0604,
        0.3380, 0.8661, 0.9650, 0.0413, 0.8141, 0.3876, 0.9787, 0.9873, 0.1717,
        0.6060, 0.9881, 0.9991, 0.0059, 0.9693, 0.9658, 0.5462, 0.8243, 0.2656,
        0.9876, 0.7454, 0.1156, 0.9952, 0.4909, 0.5319, 0.4614, 0.9163, 0.9268],
       device='cuda:0', grad_fn=<ReshapeAliasBackward0>)

In [ ]:
with torch.inference_mode():
  y_preds = model.forward(X_test).flatten()
  accuracy = accuracy_fn(y_test,y_preds.round())
  
accuracy

72.09302325581395

# CHATGPT GENERATED MODEL

Epoch 1/300, Loss: 0.7378746747970581
Epoch 2/300, Loss: 0.7157214164733887
Epoch 3/300, Loss: 0.6968382239341736
Epoch 4/300, Loss: 0.6790674805641175
Epoch 5/300, Loss: 0.6619456768035888
Epoch 6/300, Loss: 0.6502362370491028
Epoch 7/300, Loss: 0.6360358238220215
Epoch 8/300, Loss: 0.6261618256568908
Epoch 9/300, Loss: 0.6157841086387634
Epoch 10/300, Loss: 0.6103423476219177
Epoch 11/300, Loss: 0.6050651669502258
Epoch 12/300, Loss: 0.5881236076354981
Epoch 13/300, Loss: 0.5904579043388367
Epoch 14/300, Loss: 0.5818428993225098
Epoch 15/300, Loss: 0.5782539665699005
Epoch 16/300, Loss: 0.5623189091682435
Epoch 17/300, Loss: 0.5514383554458618
Epoch 18/300, Loss: 0.5522697567939758
Epoch 19/300, Loss: 0.5492250084877014
Epoch 20/300, Loss: 0.5390266537666321
Epoch 21/300, Loss: 0.5297828018665314
Epoch 22/300, Loss: 0.5220447540283203
Epoch 23/300, Loss: 0.5173019349575043
Epoch 24/300, Loss: 0.5204618513584137
Epoch 25/300, Loss: 0.5148296594619751
Epoch 26/300, Loss: 0.5012830197811127
Epoch 27/300, Loss: 0.50628941655159
Epoch 28/300, Loss: 0.4969994068145752
Epoch 29/300, Loss: 0.49249826073646547
Epoch 30/300, Loss: 0.49150708317756653
Epoch 31/300, Loss: 0.47248672842979433
Epoch 32/300, Loss: 0.47150803208351133
Epoch 33/300, Loss: 0.4739315927028656
Epoch 34/300, Loss: 0.47668057680130005
Epoch 35/300, Loss: 0.4608298659324646
Epoch 36/300, Loss: 0.46198770999908445
Epoch 37/300, Loss: 0.46689853072166443
Epoch 38/300, Loss: 0.4503865122795105
Epoch 39/300, Loss: 0.44513198733329773
Epoch 40/300, Loss: 0.449724817276001
Epoch 41/300, Loss: 0.445487254858017
Epoch 42/300, Loss: 0.4418277025222778
Epoch 43/300, Loss: 0.4522801101207733
Epoch 44/300, Loss: 0.4506918728351593
Epoch 45/300, Loss: 0.44642007946968076
Epoch 46/300, Loss: 0.4539019465446472
Epoch 47/300, Loss: 0.44419655203819275
Epoch 48/300, Loss: 0.42567925453186034
Epoch 49/300, Loss: 0.43016589283943174
Epoch 50/300, Loss: 0.4312431335449219
Epoch 51/300, Loss: 0.434050714969635
Epoch 52/300, Loss: 0.429555606842041
Epoch 53/300, Loss: 0.42468941807746885
Epoch 54/300, Loss: 0.41334605813026426
Epoch 55/300, Loss: 0.4274028420448303
Epoch 56/300, Loss: 0.42969350814819335
Epoch 57/300, Loss: 0.4191850185394287
Epoch 58/300, Loss: 0.43112024664878845
Epoch 59/300, Loss: 0.43165422677993776
Epoch 60/300, Loss: 0.40962759256362913
Epoch 61/300, Loss: 0.4310027062892914
Epoch 62/300, Loss: 0.43619816899299624
Epoch 63/300, Loss: 0.4184259295463562
Epoch 64/300, Loss: 0.4220054507255554
Epoch 65/300, Loss: 0.4150398552417755
Epoch 66/300, Loss: 0.41258043646812437
Epoch 67/300, Loss: 0.420096218585968
Epoch 68/300, Loss: 0.4239217579364777
Epoch 69/300, Loss: 0.4016757905483246
Epoch 70/300, Loss: 0.40568596720695493
Epoch 71/300, Loss: 0.41411430239677427
Epoch 72/300, Loss: 0.4026614189147949
Epoch 73/300, Loss: 0.4078582227230072
Epoch 74/300, Loss: 0.41933252215385436
Epoch 75/300, Loss: 0.4005886346101761
Epoch 76/300, Loss: 0.3984143078327179
Epoch 77/300, Loss: 0.41061772108078004
Epoch 78/300, Loss: 0.4050379037857056
Epoch 79/300, Loss: 0.39865079522132874
Epoch 80/300, Loss: 0.4059904634952545
Epoch 81/300, Loss: 0.393815678358078
Epoch 82/300, Loss: 0.40076603889465334
Epoch 83/300, Loss: 0.4106013894081116
Epoch 84/300, Loss: 0.4057802438735962
Epoch 85/300, Loss: 0.38469685018062594
Epoch 86/300, Loss: 0.4012770414352417
Epoch 87/300, Loss: 0.39963074326515197
Epoch 88/300, Loss: 0.3945873439311981
Epoch 89/300, Loss: 0.3876865804195404
Epoch 90/300, Loss: 0.4051667094230652
Epoch 91/300, Loss: 0.3971272945404053
Epoch 92/300, Loss: 0.4112873554229736
Epoch 93/300, Loss: 0.3909895598888397
Epoch 94/300, Loss: 0.3837803602218628
Epoch 95/300, Loss: 0.3852812945842743
Epoch 96/300, Loss: 0.38710862398147583
Epoch 97/300, Loss: 0.3970411419868469
Epoch 98/300, Loss: 0.3926412761211395
Epoch 99/300, Loss: 0.37941695749759674
Epoch 100/300, Loss: 0.39105443358421327
Epoch 101/300, Loss: 0.39374730587005613
Epoch 102/300, Loss: 0.412730747461319
Epoch 103/300, Loss: 0.4127277672290802
Epoch 104/300, Loss: 0.38801283240318296
Epoch 105/300, Loss: 0.3891237795352936
Epoch 106/300, Loss: 0.3826209604740143
Epoch 107/300, Loss: 0.3864277362823486
Epoch 108/300, Loss: 0.4062564432621002
Epoch 109/300, Loss: 0.38367165327072145
Epoch 110/300, Loss: 0.38001291155815126
Epoch 111/300, Loss: 0.379118812084198
Epoch 112/300, Loss: 0.38101264238357546
Epoch 113/300, Loss: 0.38301404714584353
Epoch 114/300, Loss: 0.37417869865894315
Epoch 115/300, Loss: 0.3869536221027374
Epoch 116/300, Loss: 0.3844373464584351
Epoch 117/300, Loss: 0.3789424538612366
Epoch 118/300, Loss: 0.38318212032318116
Epoch 119/300, Loss: 0.3805109202861786
Epoch 120/300, Loss: 0.3786524713039398
Epoch 121/300, Loss: 0.394707065820694
Epoch 122/300, Loss: 0.3751670777797699
Epoch 123/300, Loss: 0.37404576539993284
Epoch 124/300, Loss: 0.37958354949951173
Epoch 125/300, Loss: 0.36461673080921175
Epoch 126/300, Loss: 0.38668769001960757
Epoch 127/300, Loss: 0.381585693359375
Epoch 128/300, Loss: 0.37412890791893005
Epoch 129/300, Loss: 0.3664358198642731
Epoch 130/300, Loss: 0.3602445602416992
Epoch 131/300, Loss: 0.3710605978965759
Epoch 132/300, Loss: 0.36777461171150205
Epoch 133/300, Loss: 0.36954686641693113
Epoch 134/300, Loss: 0.378435343503952
Epoch 135/300, Loss: 0.37293413281440735
Epoch 136/300, Loss: 0.3901015639305115
Epoch 137/300, Loss: 0.37031646966934206
Epoch 138/300, Loss: 0.3594758599996567
Epoch 139/300, Loss: 0.38275142312049865
Epoch 140/300, Loss: 0.38292763829231263
Epoch 141/300, Loss: 0.36666290163993837
Epoch 142/300, Loss: 0.37936111688613894
Epoch 143/300, Loss: 0.38230040669441223
Epoch 144/300, Loss: 0.37142138481140136
Epoch 145/300, Loss: 0.37708333432674407
Epoch 146/300, Loss: 0.37695437073707583
Epoch 147/300, Loss: 0.36544650197029116
Epoch 148/300, Loss: 0.3753233373165131
Epoch 149/300, Loss: 0.36749925315380094
Epoch 150/300, Loss: 0.3611439347267151
Epoch 151/300, Loss: 0.3716980814933777
Epoch 152/300, Loss: 0.3882279396057129
Epoch 153/300, Loss: 0.37238579988479614
Epoch 154/300, Loss: 0.3572412610054016
Epoch 155/300, Loss: 0.3718089282512665
Epoch 156/300, Loss: 0.3911363422870636
Epoch 157/300, Loss: 0.3649402916431427
Epoch 158/300, Loss: 0.3700502872467041
Epoch 159/300, Loss: 0.359174108505249
Epoch 160/300, Loss: 0.3575007677078247
Epoch 161/300, Loss: 0.3639536380767822
Epoch 162/300, Loss: 0.3648755192756653
Epoch 163/300, Loss: 0.36456281542778013
Epoch 164/300, Loss: 0.37353198528289794
Epoch 165/300, Loss: 0.3636955499649048
Epoch 166/300, Loss: 0.355995899438858
Epoch 167/300, Loss: 0.36879552602767945
Epoch 168/300, Loss: 0.3544650197029114
Epoch 169/300, Loss: 0.37058318853378297
Epoch 170/300, Loss: 0.3626580059528351
Epoch 171/300, Loss: 0.3534678161144257
Epoch 172/300, Loss: 0.3519673466682434
Epoch 173/300, Loss: 0.3477122843265533
Epoch 174/300, Loss: 0.3528443992137909
Epoch 175/300, Loss: 0.3698241412639618
Epoch 176/300, Loss: 0.35744444131851194
Epoch 177/300, Loss: 0.34400714635849
Epoch 178/300, Loss: 0.3528009593486786
Epoch 179/300, Loss: 0.344574773311615
Epoch 180/300, Loss: 0.35491583347320554
Epoch 181/300, Loss: 0.3531480014324188
Epoch 182/300, Loss: 0.3726693481206894
Epoch 183/300, Loss: 0.347123783826828
Epoch 184/300, Loss: 0.36439948081970214
Epoch 185/300, Loss: 0.3520939230918884
Epoch 186/300, Loss: 0.3417358785867691
Epoch 187/300, Loss: 0.349316281080246
Epoch 188/300, Loss: 0.3565096139907837
Epoch 189/300, Loss: 0.36151605248451235
Epoch 190/300, Loss: 0.3550212860107422
Epoch 191/300, Loss: 0.3504930794239044
Epoch 192/300, Loss: 0.35855111479759216
Epoch 193/300, Loss: 0.34450879096984866
Epoch 194/300, Loss: 0.3580677926540375
Epoch 195/300, Loss: 0.3602730453014374
Epoch 196/300, Loss: 0.35183594226837156
Epoch 197/300, Loss: 0.3486963927745819
Epoch 198/300, Loss: 0.35140612721443176
Epoch 199/300, Loss: 0.35294048190116883
Epoch 200/300, Loss: 0.34266660511493685
Epoch 201/300, Loss: 0.3540391981601715
Epoch 202/300, Loss: 0.34174896478652955
Epoch 203/300, Loss: 0.35194077491760256
Epoch 204/300, Loss: 0.3413864016532898
Epoch 205/300, Loss: 0.3513628602027893
Epoch 206/300, Loss: 0.3524928689002991
Epoch 207/300, Loss: 0.3534774899482727
Epoch 208/300, Loss: 0.34268304109573366
Epoch 209/300, Loss: 0.3502069115638733
Epoch 210/300, Loss: 0.3627528250217438
Epoch 211/300, Loss: 0.34117671847343445
Epoch 212/300, Loss: 0.3498879075050354
Epoch 213/300, Loss: 0.3366167306900024
Epoch 214/300, Loss: 0.34281747937202456
Epoch 215/300, Loss: 0.34933304190635683
Epoch 216/300, Loss: 0.34123430252075193
Epoch 217/300, Loss: 0.35297492146492004
Epoch 218/300, Loss: 0.3367399960756302
Epoch 219/300, Loss: 0.3536646395921707
Epoch 220/300, Loss: 0.3424541771411896
Epoch 221/300, Loss: 0.34679433703422546
Epoch 222/300, Loss: 0.361205068230629
Epoch 223/300, Loss: 0.34743990898132326
Epoch 224/300, Loss: 0.33213080167770387
Epoch 225/300, Loss: 0.3444828987121582
Epoch 226/300, Loss: 0.33501169085502625
Epoch 227/300, Loss: 0.34027611613273623
Epoch 228/300, Loss: 0.3473096191883087
Epoch 229/300, Loss: 0.35846898555755613
Epoch 230/300, Loss: 0.356963574886322
Epoch 231/300, Loss: 0.34926729202270507
Epoch 232/300, Loss: 0.3349681556224823
Epoch 233/300, Loss: 0.33467230200767517
Epoch 234/300, Loss: 0.35171252489089966
Epoch 235/300, Loss: 0.34829825162887573
Epoch 236/300, Loss: 0.34437167048454287
Epoch 237/300, Loss: 0.33900454044342043
Epoch 238/300, Loss: 0.35124543905258176
Epoch 239/300, Loss: 0.34468528628349304
Epoch 240/300, Loss: 0.34448701739311216
Epoch 241/300, Loss: 0.3454921722412109
Epoch 242/300, Loss: 0.3542177140712738
Epoch 243/300, Loss: 0.3444351464509964
Epoch 244/300, Loss: 0.3404298901557922
Epoch 245/300, Loss: 0.3377336025238037
Epoch 246/300, Loss: 0.33907216787338257
Epoch 247/300, Loss: 0.347583270072937
Epoch 248/300, Loss: 0.3313855409622192
Epoch 249/300, Loss: 0.3435806632041931
Epoch 250/300, Loss: 0.33695623874664304
Epoch 251/300, Loss: 0.3349969744682312
Epoch 252/300, Loss: 0.34126917123794553
Epoch 253/300, Loss: 0.3303902387619019
Epoch 254/300, Loss: 0.33292446136474607
Epoch 255/300, Loss: 0.32854286432266233
Epoch 256/300, Loss: 0.3336857080459595
Epoch 257/300, Loss: 0.33388417959213257
Epoch 258/300, Loss: 0.33480049967765807
Epoch 259/300, Loss: 0.33823519945144653
Epoch 260/300, Loss: 0.3240247339010239
Epoch 261/300, Loss: 0.32495729625225067
Epoch 262/300, Loss: 0.3306361436843872
Epoch 263/300, Loss: 0.3246838301420212
Epoch 264/300, Loss: 0.3349910855293274
Epoch 265/300, Loss: 0.3419027656316757
Epoch 266/300, Loss: 0.33115684390068056
Epoch 267/300, Loss: 0.3291250288486481
Epoch 268/300, Loss: 0.32457211911678313
Epoch 269/300, Loss: 0.32932519912719727
Epoch 270/300, Loss: 0.34114799499511717
Epoch 271/300, Loss: 0.3377557098865509
Epoch 272/300, Loss: 0.33597477674484255
Epoch 273/300, Loss: 0.3504847824573517
Epoch 274/300, Loss: 0.31967535316944123
Epoch 275/300, Loss: 0.3234542429447174
Epoch 276/300, Loss: 0.33743167519569395
Epoch 277/300, Loss: 0.33450546860694885
Epoch 278/300, Loss: 0.33124326467514037
Epoch 279/300, Loss: 0.33145257234573366
Epoch 280/300, Loss: 0.32177711427211764
Epoch 281/300, Loss: 0.3221507489681244
Epoch 282/300, Loss: 0.32251486778259275
Epoch 283/300, Loss: 0.3322946012020111
Epoch 284/300, Loss: 0.3253259837627411
Epoch 285/300, Loss: 0.324360716342926
Epoch 286/300, Loss: 0.3258895814418793
Epoch 287/300, Loss: 0.3334955990314484
Epoch 288/300, Loss: 0.326341313123703
Epoch 289/300, Loss: 0.32199293971061704
Epoch 290/300, Loss: 0.3237387537956238
Epoch 291/300, Loss: 0.31834588646888734
Epoch 292/300, Loss: 0.32989675998687745
Epoch 293/300, Loss: 0.33831933736801145
Epoch 294/300, Loss: 0.3251424729824066
Epoch 295/300, Loss: 0.32893341183662417
Epoch 296/300, Loss: 0.3404043197631836
Epoch 297/300, Loss: 0.32848952412605287
Epoch 298/300, Loss: 0.3196733832359314
Epoch 299/300, Loss: 0.32863108813762665
Epoch 300/300, Loss: 0.32806926369667055
Test Accuracy: 75.67567567567568